<!DOCTYPE html>
<html>
<head>
	<script>
		var myFunction = function(){
			// make a call to /new node of the api.
		}
		// SImilarly, other buttons for different nodes can be made.
	</script>
</head>
<body>

<h2>POSist Project</h2>

<form>
  Owner's Name:<br>
  <input type="text" name="oname">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br>
  Mobile:<br>
  <input type="text" name="mobile">
  <br>
  phone:<br>
  <input type="text" name="phone">
  <br>
  Value:<br>
  <input type="text" name="value">
  <br>
  <input type="submit" onclick="myFunction()">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
